appdirs==1.4.4
audioread==2.1.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
decorator==5.1.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
librosa==0.8.1
llvmlite==0.37.0
MarkupSafe==2.0.1
numba==0.54.1
numpy==1.20.3
packaging==21.2
pooch==1.5.2
pycparser==2.21
pyparsing==2.4.7
requests==2.26.0
resampy==0.2.2
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.7.2
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==3.0.0
urllib3==1.26.7
Werkzeug==2.0.2
